<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="LoginAndSearch">
        <classes>
            <class name="WebTests.LoginSearchAndShop">
            </class>
        </classes>
    </test>
    <test name="APITests">
        <classes>
            <class name="APITests.StatusCodeAndTitleTest">
            </class>
        </classes>
    </test>
</suite>